[core]
    excludesfile = ~/.gitignore
	symlinks = true
[init]
	defaultBranch = main
[user]
	name = Takumi Saito
	email = dev@umeru.ma
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[http]
	version = HTTP/1.1
[difftool]
	prompt = false
[mergetool]
	prompt = false
[includeIf "gitdir:~/Codes/"]
	path = ~/Codes/.gitconfig
[includeIf "gitdir:~/Codes_DL/"]
	path = ~/Codes_DL/.gitconfig
[pull]
	rebase = false
[credential]
	helper = osxkeychain

# Git Worktree Manager Settings
# https://github.com/k1LoW/git-wt?tab=readme-ov-file#configuration
[wt]
	basedir = .worktrees
	copyuntracked = true
	copyignored = true
	copymodified = true
